body{
  background-color: black;
}
.nav{
  display: flex;
}
.link{
  margin: 20px;
}
.active{
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.allImages{
  display: flex;
  overflow-x: auto;
}
.allImages::-webkit-scrollbar{
  display: none;
}

img{
  margin: 10px;
}

/* Netflix originals */

/* https://api.themoviedb.org/3/discover/tv/?api_key=851d0c667134afe80def78a2ea3d1e86&with_network=123*/